@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap");

/* Box Model Hack */
* {
	box-sizing: border-box;
	border: none;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
	font-size: 62.5%;
}

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 5px;
	font-size: 1.5rem;
	--primaryColor: #f5f9fc;
	--secondaryColor: #324659;
	--textColor: #9e9e9e;
	--shadeColor: #e2e9f0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a:active,
a:link,
a:visited {
	color: var(--textColor);
	text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
