<h3><a href="#"><img src="../assets/right-notes-logo.svg" /></a></h3>

<div class="section">
	<p class="lead">
		Create an account</p>
</div>

<div class="divider"></div>
<div class="section">

	<form action="/auth/signup" method="POST">
		<div class="row">
			<div class="input-field col s12">
				<input id="firstname" type="text" class="validate" />
				<label for="firstname">First name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="lastname" type="text" class="validate" />
				<label for="lastname">Last name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="email" type="email" class="validate" />
				<label for="email">Email</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="password" type="password" class="validate" />
				<label for="password">Password</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="confirmpassword" type="password" class="validate" />
				<label for="confirmpassword">Confirm password</label>
			</div>
		</div>
		<div>
			<button class="btn waves-effect waves-light btn-size" type="submit">
				Sign up
			</button>
		</div>
	</form>
	<div class="row">
		<a href="/auth/google" class="btn red darken-1 btn-size">
			<i class="fab fa-google left"></i>
			Login with google
		</a>
	</div>
</div>